# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
perky_chess

# Environment
.vscode/

# Don't ignore libraries
!libraries/SFML-2.5.1-64/lib/*
!libraries/SFML-2.5.1-64/bin/*